
/*------------------------------partie de la photo-----------------------------------------*/
.conter{
	margin: 20px 0px 0px 20px;
}
.ligne1_col1{
	background-image: url('../Components/Etudiant/Actualite/Imageactu/photo1.png');
	background-size:  100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	}
.actu {
bottom: 70px;
background-color:#F24140;
left: 30px;
color: white;
position:absolute;
padding:5px 20px 5px 20px;
}
.titre{
	bottom :37px;
	background-color: rgb(19, 22, 27,79%) ;
	color: white;
	font-weight: bold;
	left: 30px;
	position:absolute;
	padding:5px 20px 5px 20px;

}

/*--------------------------------------------------------------*/
/*----------------------------partie de pagination---------------------------------*/
.div-name h6{

font-weight: bold;
color: #126AA0;

}
.div-name p{
	font-size: 0.9em;
	cursor:pointer;
	color: #8E7D7D;
}
.page-link{
color: #126AA0;
}
/* .div-contenu :hover{
	background-color: rgb(209,209,209,50%);
	display: block;
} */

@media screen and (min-width:700px) and (max-width: 1223px) {
	.div-contenu p{
		font-size: 0.4em;
		
	}
	.div-name h6{
		font-size: 0.6em;
	}
	.div-image{
		width: 50%;
		/* height: 50%; */
	}
	.actu {
		font-size: 0.7em;
	}
	.titre{
		font-size: 0.7em;
		bottom :47px;
 	} 
	

} 
@media screen and (min-width:427px) and (max-width:699px){
	.ligne1_col1{
		display: none;
		
	}
	.div-contenu p{
		font-size: 0.4em;
		
	}
	.div-name h6{
		font-size: 0.6em;
	}
	.div-image{
		width: auto;
		/* height: 50%; */
	}
	.div-contenu{
		width: auto;
	}


}

@media screen and (max-width:426px){
	.ligne1_col1{
		display: none;
		
	}
	.div-contenu p{
		font-size: 0.5em;
		
	}
	.imageActu{
		height: 20vh;
		
	}
	.div-name h6{
		font-size: 0.6em;
	}
	.div-image{
		width: auto;
		/* height: 50%; */
	}
	.div-contenu{
		width: auto;
		padding: 1px;
	}
	.rowActu{
		height: auto;
	
	 }

}

/*--------------------------page2---------------------------*/
 .actu_left p{

	color: #8E7D7D;
	font-size: 0.8em;
	
 }
 .actu_left h5{
	color: #126AA0;
	font-weight: bold;
	

 }
 .rowActu{
	height: 50vh;

 }
 .trait{
	 background-color: #126AA0;
	 width: 7%;
	 height: 1.5%;
	
 }