.sideItem{
	color: #126AA0;
	font-family: montserrat;
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
	display: flex;
}
/*.sideItem:hover{
	color: white;
}*/
.logo{
	margin-bottom: 30px; 
	width: max-content;

}
.logo2{
	height: 48px;
	margin-bottom: 19px; 
}

.logoHide{
	display: none;
}
.ItemNav{
	display: flex;
	margin-bottom: 10px;
	margin-left: 7px;
	width: 143.7px;
	border-radius: 2.5px;
}
.ItemNav2{
	width: 48px;
}

.ItemNav:hover{
	background-color: #126AA0;
	}
.Collapse2:hover{
	background-color: white !important;
	}	

.ItemNav.active>.sideItem{
  color: white !important;
}

.ItemNav:hover .sideItem, .ItemNav.hover .sideItem{
	color: white;
}




.Collapse{
	margin-top: 180px;
}
.collapseText{
	margin-top: 0px !important;
}

.notif{
	display: flex;
	margin-top: 7px;
	justify-content: flex-end;
}
.Username{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-left: 14px;
}
.avatar {
	margin-right: 8px;
	margin-top: 4px;
}
.hello{
	margin-top: 20px;
	color: #B7B7B7;
	font-size: 10px;
	font-weight: bold;
}
.Name{
	font-weight: bold;
	color: black;
	font-size: 13px;
}
p{
	margin-bottom: 0rem !important;
}
.userInfo{
	margin-top: -10px;
}
.arrow{
	margin-left: 10px;
}
.NavHead{
	margin-top: 10px;
}

.Donthide{

 
 width: auto;
 transition: width 5s;
 height: 100vh !important;
 /* position: fixed; */
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 bottom: 0;
 right: 0;
 /* ----------------------- */
 border: 1px solid #CBC2C2;
 border-left-width: 0px !important;
}

.hide{
	width: 62px;
	overflow: hidden;
	 transition: width 5s;
}
.respoMenu{
	display: none;
}


.hideIcon{
	display: none;
}
.showIcon{
	transform: rotate(180deg);
	margin-left: 14px;
}
.hideLink{
	display: none;
}
.Icons{
	margin-right: 10px;
}
.Icons2{
	margin-right: 26px !important;
	margin-left: -4px;
}
.ItemNav:hover .Icons, .ItemNav.hover .Icons{
	
	filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(234deg) brightness(103%) contrast(180%);

}


.Actu,.Supp,.Conta{
	margin-right: 15px;
}

.dropdown-menu{
	margin-left: -150px;
}

.dropdown-toggle{
	background-color: #fff0;
}

#active{
	
	background-color: #126AA0 !important;
	color: white;
}
#active-1{
	
	color: white;
}
.active{
	
	background-color: #126AA0 !important;
}
#activelink{
	color: white !important;
}
.active10{
	color: white !important;
}
#activeicon{
	filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(234deg) brightness(103%) contrast(180%) !important;	
}

@media(max-width: 450px){

	.Donthide{
		display: none;
	}

	.respoMenu{
		display: block;
		align-self: flex-start;
		margin-right: -55px;
		margin-top: 20px;
		z-index: 5;
		width: 35px;
		position: fixed;
	}
	.logoHide2{
	display: none;
     }
	.hideMenu{
	display: none;
}
.showMenu{
	display: flex;
	z-index: 4;
	position: fixed;
    left: 15px;
}
.logo3{
	display: block !important;
	height: 48px ;
	margin-bottom: 19px; 
}
}

@media(min-width: 450px){

	
	.respoMenu{
		display: none;

	}
}


