
.app{
	display: flex;
}
.container-fluid{
	display: flex;
}
.sous-app{
	flex-basis: 100%;
}
.sideNa{
	background-color: white;
	flex-basis: 15%;
	padding-left: 5px;
	padding-right: 5px;
	
	
}
.cont{
	margin: 0px 0px 0px 20px !important;
}
