.app{
	display: flex;
}
.container-fluid{
	display: flex;
}
.sous-app{
	flex-basis: 100%;
}
.sideNa{
	background-color: white;
	flex-basis: 15%;
	height: 100vh;
	
}
.cont{
	margin: 20px 0px 0px 20px !important;
	
}

#ligne1_para p{

font-family: 'montserrat';
}


@media screen and (max-width: 450px) {
	.h51 {
		font-size: 1.2em;
	}
	.para1{
		font-size: 0.75em;
	}
	.h5{
		text-align: center;
	}

 }   