.app{
	display: flex;
}
.container-fluid{
	display: flex;
}
.sous-app{
	flex-basis: 100%;
}
.sideNa{
	background-color: white;
	flex-basis: 15%;
	height: 100vh;
	
}

/*.cont{
	margin: 20px 0px 0px 20px !important;

.cont{
>>>>>>> a54fe4a532ef48a28610fdafee7db83704b48395
	
	margin: 20px 0px 0px 20px !important;
	
	
} */
