#Support__filtrage{
   font-weight: bold;
   color:#8E7D7D;
   padding: 15px 35px;
   font-size: 1.5em;
   margin: 3px;
}
.Support__dropdown{
   color:  rgb(18, 106, 160);
   font-weight: bold;
   margin: 0px 10px;
   outline: none;
   border: 0;
   border-radius: 10px;
   text-align-last: center;
   padding: 0px 12px;
}
.SupportCard{
   width: 15.5rem;
   height: 24rem;
   margin: 25px;
   border-radius: 10px;
}
.SupportCard:hover{
   width: 16rem;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
/* ----------------------------------------------------------------------------- */
.SupportEdit__container{
   background-color: white;
   margin: 10px 50px;
   border: 1px solid #CBC2C2;
   box-sizing: border-box;
   border-radius: 5px;
}
.SupportRow{
   margin: 20px 40px;
   padding: 25px 25px 15px 25px;
   border-bottom: 2px solid rgba(203, 194, 194, 1); 
}
.SupportRow__img{
   width: 45px;
   height: 45px;
}
.SupportRow__title{
   /* margin: 0px 80px; */
}
.SupportRow__title{
   font-weight: bold;
   color:  rgb(18, 106, 160);
   padding: 5px 10px;
}
.SupportRow__moduleName{
   /* margin: 0px 80px; */
}
.SupportRow__moduleName{
   color: rgba(142, 125, 125, 1);
   padding: 5px 10px;
}
.SupportRow__EditImages img{
   width: 40px;
   height: 40px;
   margin: 5px 10px;
}
/* .SupportRow__EditImages{
   margin-left: 150px;
} */


