#Seconnecter__carte{
   background-color: rgb(18, 106, 160);
   justify-content: space-around;
}
#Seconnecter__signin{
   padding: 10px;
   background-color: white;
   border: 2px solid white;
   color: rgb(18, 106, 160);
   border-radius: 35px;
   font-weight: bold; 
   font-size: 1.3em;
   
}
#Seconnecter__signup{
   padding: 10px;
   border: 2px solid white;
   border-radius: 35px;
   font-weight: bold; 
   font-size: 1.3em;
}
#SeConnecter_bienvenue{
   color: rgb(18, 106, 160);
}
/* -------------------------------------------------------- */



.SeConnecter__form{
   display: flex;
   flex-direction: column;
   width:85%;
   margin: 35px auto 0 auto;
}
.SeConnecter__form input{
   outline: none;
   width: 70%;
   margin: 23px 7px 23px 30px;
   border: 1px solid white; 
   font-size: 1.1em;
   font-family: 'montserrat';
   font-weight: bold;
}
::placeholder{
   color: rgba(18, 106, 160, 0.95);
   font-weight: bold;
   font-family: 'montserrat';
}
.SeConnecter__form_email, .SeConnecter__form_password{
   display: flex;
   width: 100%;
   background-color: white;
   border-radius: 35px;
   margin-bottom: 20px;
}
.SeConnecter__form_email svg, .SeConnecter__form_password svg{
   margin-left: 35px;
   margin-top: 20px;
   margin-bottom: 13px;
}

.SeConnecter__form a{
   text-decoration: none;
   margin: 10px 0px 20px 30px;
   color: white;
}

.SeConnecter__form input[type="submit"]{
   background-color: white;
   color: rgba(18, 106, 160, 0.95);
   border-radius: 30px;
   font-weight: bold;
   font-size: 1.5em;
   padding: 15px;
   margin: 15px 0px 15px 5px;
   width: 99%;
   cursor: pointer;
}






