#Seconnecter__carte{
   background-color: rgb(18, 106, 160);
}
#Seconnecter__signin{
   background-color: white;
   border: 2px solid white;
   color: rgb(18, 106, 160);
   border-radius: 35px;
   
}
#Seconnecter__signup{
   border: 2px solid white;
   border-radius: 35px;
   
}
#SeConnecter_bienvenue{
   color: rgb(18, 106, 160);
   margin: 50px 0px 0px 0px;
   font-weight: bold;
   font-size: 3em;
}

#SeConnecter__image{
   width: 97%;
   margin: 0px 10px 10px 10px;
}
/* -------------------------------------------------------- */

.SeConnecter__form{
   display: flex;
   flex-direction: column;
}
#SeConnecter__form input{
   outline: none;
   width: 90%;
   border: 1px solid white; 
}
::placeholder{
   color: rgba(18, 106, 160, 0.95);
   font-weight: bold;
   font-family: 'montserrat';
}
#SeConnecter__form_email, #SeConnecter__form_password{
   border: 1px solid white;
   border-radius: 35px;
}

.SeConnecter__form a{
   text-decoration: none;
   color: white;
}

.SeConnecter__form input[type="submit"]{
   background-color: white;
   color: rgba(18, 106, 160, 0.95);
   border-radius: 30px;
}

/* ------------------------------------------------------------------ */

@media screen and (max-width: 767px) {
   #SeConnecter__image{
      display: none;
   }
   #SeConnecter_bienvenue{
      margin: 50px 0px;
      font-size: 1.8em;
   }
}   


.dropdown-toggle {
  background-color: white;
  font-weight: bold;
  font-size: 1.9em;
  color: rgba(18, 106, 160, 0.95);
  border: 0;
  outline: 0;
 }
 #Seconnecter__signup_drop button :active{
    background-color: white;
 }
#Seconnecter__signup_drop{
   border: 2px solid white;
   border-radius: 35px;
   background-color: white;

}
#SeConnecter__Nom input{
   border: 0px solid white;
   outline: none;
}