#Sinscrire__carte{
   background-color: rgb(18, 106, 160);
}
#Sinscrire__signin{
   border: 2px solid white;
   border-radius: 35px;
   color: rgb(18, 106, 160);
}
#Sinscrire__signup{ 
   background-color: white;
   border: 2px solid white;
   border-radius: 35px;
}
#Sinscrire_bienvenue{
   color: rgb(18, 106, 160);
   margin: 50px 0px 0px 0px;
   font-weight: bold;
   font-size: 3em;
}

#Sinscrire__image{
   width: 97%;
   margin: 0px 10px 10px 10px;
}

.Sinscrire__form{
   display: flex;
   flex-direction: column;
}
#Sinscrire__form input{
   outline: none;
   width: 90%;
   border: 1px solid white; 
}
::placeholder{
   color: rgba(18, 106, 160, 0.95);
   font-weight: bold;
   font-family: 'montserrat';
}
#Sinscrire__form_email, #Sinscrire__form_password{
   border: 1px solid white;
   border-radius: 35px;
}

.Sinscrire__form a{
   text-decoration: none;
   color: white;
}

.Sinscrire__form input[type="submit"]{
   background-color: white;
   color: rgba(18, 106, 160, 0.95);
   border-radius: 30px;
}

.dropdown-toggle {
   background-color: white;
   font-weight: bold;
   font-size: 1.9em;
   color: rgba(18, 106, 160, 0.95);
   border: 0;
}

#Sinscrire__signup_drop{
   border: 2px solid white;
   border-radius: 35px;
   background-color: white;
}
#Sinscrire__Nom input{
   border: 0px solid white;
   outline: none;
} 
         @media screen and (max-width: 767px) {
            #Sinscrire__image{
               display: none;
            }
            #Sinscrire_bienvenue{
               margin: 50px 0px;
               font-size: 1.8em;
            }
         }   
